var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_comment);
//$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#comment_<%= @comment.id %>').animate({'color':'#ff0000'},'slow');
$('#comment_<%= @comment.id %>').animate({'color':'#000000'},'slow');
$('#new_comment')[0].reset();